APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null

MAIL_MODE=live
MAIL_FROM_ADDRESS=fromaddress@test.com
MAIL_FROM_NAME="From Name"

UPLOAD_PATH=/uploads
DEVELOPER_EMAIL=developer@email.com
DEVELOPER_TEL=07979123456

MAILGUN_DOMAIN=
MAILGUN_SECRET=