// ----- Modules -----
.grid {

	&.fullwidth { padding-bottom: 0; }

	.item {
		padding: 10px;
		margin-bottom: 30px;
		background: $color-white;
		border: 1px solid $color-green-medium-dark;

		> img:first-child, > .overlay-wrap:first-child {
			margin-bottom: 0;
		}


		h3 {
			margin-bottom: 0;
			word-wrap: break-word;
		}

		img {
			border: 1px solid $color-green-medium-dark;
		}

		&:hover {
			border: 1px solid $color-gold;

			img {
				border: 1px solid $color-gold;
			}
		}
	}
}
// ----- Events -----
.grid {

	&.events {
		.item {
			padding: 10px;
		}
	}
}

// ----- Scorecard -----
.table {
	@include rem(font-size, 12px);

	> thead > tr > th, th {
	    background-color: $color-grey-lighter;
	}

	td {
		background-color: $color-white;
	}

	&.scorecard {
		border: 2px solid $color-grey-light;

		> thead > tr > th, td {
		    text-align: center;
		}

		.first-row {
		    background-color: $color-grey-lightest;
		}

		.out, .in, .totals {
			background-color: $color-grey-lighter;
		}

		.editable {
			padding: 3px 0 0 0;

			input {
				border: none;
				text-align: center;
				width: 100%;
				background: none;

				&:disabled {
					-webkit-text-fill-color: $color-grey-dark;
					-webkit-opacity:1;
				}
			}
		}

		&.full {
			.labels, .totals {
				width: 8%;
			}

			.out, .in {
				width: 6%;
			}

			.hole {
				width: 4%;
			}
		}

		&.split {
			display: none;
			margin-bottom: 5px;

			.labels, .totals {
				width: 12%;
			}

			.out, .in {
				width: 10%;
			}

			.hole {
				width: 8%;
			}

			&.totals {
				th {
					width: 23%;
				}

				td {
					background-color: $color-grey-lightest;
					width: 10%;
				}
			}
		}

		/*span {
			display: inline-block;
    		width: 18px;
    		font-size: inherit;
    		margin-top: -2px;
    		margin-bottom: -2px;

    		&.eagle {
			    border: 2px solid #00ff80;
			    border-radius: 9px;
    		}

    		&.birdie {
			    border: 2px solid #0080ff;
			    border-radius: 9px;
    		}

    		&.bogey {
			    border: 2px solid #ff4d4d;
    		}
		}*/
	}
}

// ----- Players -----
.players {

	h3 {
		color: $color-green-dark;

		&:hover {
			color: $color-green-medium-dark;
		}
	}

	.last-name {
		text-transform: uppercase;
	}
}

// ----- Sample module -----
.grid {

	.item {
		margin-bottom: 30px;
		background: #fff;

		> img:first-child, > .overlay-wrap:first-child {
			margin-bottom: 20px;
		}
	}
}


// ----- XS - 479px and down -----
@media (max-width: $screen-xs-custom-max) {
	.table {
		@include rem(font-size, 10px);

	}
	.players {

		&.grid {

			.item {
				padding: 5px;

				h3 {
					//@include rem(font-size, 13px);
				}
			}
		}
	}
}

// 480px and up
@media (min-width: $screen-xs-custom-min) {

}

// 599px and down
@media (max-width: $screen-xsm-custom-max) {

}

// 600px and up
@media (min-width: $screen-xsm-custom-min) {

}

// 767px and down
@media (max-width: $screen-sm-custom-max) {
	.table-responsive {
		border: none;
	}

	.table {
		&.scorecard {
			&.full {
				display: none;
			}

			&.split {
				display: table;
			}
		}
	}
}


// ----- SM - 768px and up -----
@media (min-width: $screen-sm-min) {
// ----- Sample flexbox module - Keeps the grid cards an equal height -----
	.flexbox .grid .row, .row-flex {
		display: flex;
		flex-wrap: wrap;

		> div[class*='col-'] {
			display: flex;
			flex: 0 1 auto;
			margin: -0.2px; // Fixes chrome bug
		}

			.item {
				max-width: 100%;
			}
	}
}

// 768px - 991px
@media (min-width: $screen-sm-custom-min) and (max-width: $screen-md-custom-max) {

}

// 991px and down
@media (max-width: $screen-md-custom-max) {

}


// ----- MD - 992px and up  -----
@media (min-width: $screen-md-custom-min) {

}

// 992px - 1999px
@media (min-width: $screen-md-custom-min) and (max-width: $screen-lg-custom-max) {

}


// ----- LG - 1200px and up -----
@media (min-width: $screen-lg-custom-min) {

}
